.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

main,
figure,
nav.navbar,
footer,
div.App.container {
  background-color: #00a896;
  color: #00a896;
}

footer {
  height: 20px !important;
}

.form {
  margin: 0 auto;
  max-width: 300px;
}

.button {
  margin: 10px;
}

.landing-logo {
  max-width: 50%;
  max-height: 50%;
}

.hero,
.card {
  border-radius: 20px !important; 
}

.logo {
  max-width: 100px;
  height: auto;
  margin-left: 20px;
}

.login-btn {
  margin-top: 30px;
  background-color: #f0f3bd;
  color: black;
  width: 150px;
}

.box {
  margin: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
